@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.pokemon-shadow {
  position: relative;
}

.pokemon-shadow::before {
  position: absolute;
  content: "";
  background: rgb(0 0 0);
  bottom: -20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  height: 57px;
  border-radius: 87px;
  z-index: -1;
  filter: blur(22px);
}
